@import "mixins";

$primary-color: #333;
$secondary-color: #efefef;
$container-width: 800px;

body {
    color: $primary-color;
}
.container {
    background-color: $secondary-color;
    width: $container-width;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
}
.card {
    width: 200px;
    min-height: 300px;
    border: 1px solid $primary-color;
    margin: 1rem;
    @include border-radius(10px);
    header {
        text-align: center;
        width: 100%;
        padding: .5rem;
        h1 {
            font-family: Arial;
        }
    }
    .card-content {
        padding: .5rem;
        background-color: white;
    }
}