<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid layout</title>
    <link rel="stylesheet" href="css/layout-1.css">
</head>

<body>
    <div class="container">
        <header>
            <h1 class="logo">logo</h1>
            <nav class="nav">
                <ul class="nav-links">
                    <li class="nav-item"><a href="#">Start</a></li>
                    <li class="nav-item"><a href="#">Om oss</a></li>
                    <li class="nav-item"><a href="#">Kontakt</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <article>
                <h2>Titel ett</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis nulla vitae libero vehicula,
                    nec varius justo mattis. Sed ut nulla augue. Sed cursus venenatis turpis, tristique faucibus augue
                    commodo quis. Donec consequat sit amet urna et sagittis. Proin nec nulla purus. Pellentesque
                    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque
                    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                <p>Sed facilisis eleifend purus eget cursus. Mauris libero est, bibendum non iaculis eu, vehicula in
                    eros. Sed faucibus fermentum libero, vel dapibus velit pellentesque id. Curabitur condimentum eu
                    tellus sed efficitur. Suspendisse bibendum urna nibh, eu imperdiet diam auctor ut. Proin congue diam
                    sit amet vulputate consequat. Vivamus congue scelerisque erat vitae commodo. Phasellus venenatis
                    augue erat, nec commodo lorem feugiat ac. Nunc vitae elit accumsan, viverra leo quis, consequat
                    velit. Nullam ut libero at enim consectetur sollicitudin et in nisi.</p>
                <img src="img/html5-css3-logo.png" alt="html-css-logo">
            </article>
            <article>
                <h2>Titel ett</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis nulla vitae libero vehicula,
                    nec varius justo mattis. Sed ut nulla augue. Sed cursus venenatis turpis, tristique faucibus augue
                    commodo quis. Donec consequat sit amet urna et sagittis. Proin nec nulla purus. Pellentesque
                    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque
                    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                <p>Sed facilisis eleifend purus eget cursus. Mauris libero est, bibendum non iaculis eu, vehicula in
                    eros. Sed faucibus fermentum libero, vel dapibus velit pellentesque id. Curabitur condimentum eu
                    tellus sed efficitur. Suspendisse bibendum urna nibh, eu imperdiet diam auctor ut. Proin congue diam
                    sit amet vulputate consequat. Vivamus congue scelerisque erat vitae commodo. Phasellus venenatis
                    augue erat, nec commodo lorem feugiat ac. Nunc vitae elit accumsan, viverra leo quis, consequat
                    velit. Nullam ut libero at enim consectetur sollicitudin et in nisi.</p>
                <img src="img/html5-css3-logo.png" alt="html-css-logo">
            </article>
        </main>
        <aside>
            <h3>Sidomeny</h3>
            <ul class="submenu">
                <li class="nav-item"><a href="#">sidomeny 1</a></li>
                <li class="nav-item"><a href="#">sidomeny 1</a></li>
                <li class="nav-item"><a href="#">sidomeny 1</a></li>
            </ul>
        </aside>
        <footer>
            <p>&copy; 2020 HTML-CSS</p>
        </footer>
    </div>

</body>

</html>