.wrapper {
    width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: 100px 1fr 100px;
    gap: 10px;
}
.wrapper > * {
    min-height: 100px;
    background-color: #222;
    color: #efefef;
}
img { max-width: 100%;}
header, footer {
    grid-column: span 3;
}
.a {}
.b {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.c {}