:root {
    --white: #ffffff;
    --black: #333333;
    --blue: #3fa9f5;
    --d-blue: #3579AB;
    --green: #7ac943;
    --grey: #bdccd4;
    --gradient-blue: linear-gradient(#3fa9f5,  #3579AB);
    --gradient-green:  linear-gradient(#7ac943,  #62aa2f);
  }