/* = TYPE
********************/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(---black);
}
h1 {
  font-size: 2em; /* 2*16 = 32 */
}
h2 {
  font-size: 1.5em; /* 1.5*16 = 24 */
}
h3 {
  font-size: 1.17em; /* 1.17*16 = 18.72 */
}
h4 {
  font-size: 1em; /* 1*16 = 16 */
}
h5 {
  font-size: 0.83em; /* 0.83*16 = 13.28 */
}
h6 {
  font-size: 0.75em; /* 0.75*16 = 12 */
}

p {
  line-height: 1.5;
  margin: 0 0 1em;
}
a,
a:visited {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

blockquote {
  font-style: italic;
}

blockquote:before {
  content: "\201C";
  display: inline-block;
  padding-right: 0.4em;
}
article * + * {
  margin-top: 1rem;
}
